.wrap-answer{
    margin: 8px 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    .answer{
        display: flex;
        height: 60px!important;
        width:100%;
        flex-direction: row!important;
        border: 1px solid white;
        border-radius: 20px;
        justify-content: space-between;
        padding: 16px;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        margin-bottom: 10px;
       background-color: #fff;
         font-size: 16px;
        padding: 0 20px;

        .check-box{
            width: 15px;
            height: 15px;
            padding: 8px;
            border: 1px solid white ;
            border-radius: 50%;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
    .answer-checked{
        display: flex;
        height: 60px!important;
        width:100%;
        flex-direction: row!important;
        border: 2px solid red;
        border-radius: 20px;
        justify-content: space-between;
        padding: 16px;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        margin-bottom: 10px;
        background-color: red;
        color: #fff;
        .check-box{
            width: 15px;
            height: 15px;
            padding: 8px;
            border: 2px solid red ;
            border-radius: 50%;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
    .correct{
        display: flex;
        height: 60px!important;
        width:100%;
        flex-direction: row!important;
        border: 1px solid green;
        border-radius: 20px;
        justify-content: space-between;
        padding: 16px;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        margin-bottom: 10px;
        background-color: green;
        color: #fff;
        .check-box{
            width: 15px;
            height: 15px;
            padding: 8px;
            border: 1px solid green ;
            border-radius: 50%;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }

    .disabled-button {
        pointer-events: none;
        /* Additional styling if desired */
        opacity: 0.8;
        cursor: not-allowed;
      }
    .wrap-text-answer-correct{
        width: 50%;
        background-color: green;
        height: 50px;
        border-radius: 8px;
        display: flex;
        span{
            font-size: 20px;
            margin: auto;
        }
    }
}