.wrap-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px!important;
    color: #fff;
    .count-question{
        font-size: 28px;
        font-weight: 600;
        margin: 24px 0;
    }
    .title-question{
        display: block;
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
}